.container {
    min-height: 300px;
    margin-top: 40px;
}
  
.navbar-inverse .navbar-inner {
    background-color: #0D7DCB;
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#1994DE),to(#0771C1));
    font-size: 18px;
}
  
.navbar-inverse .nav .active > a, .navbar-inverse .nav .active > a:hover, .navbar-inverse .nav .active > a:focus {
    background-color: #0D7DCB;
}
  
.navbar-inverse .brand, .navbar-inverse .nav > li > a {
    color: #C4E3FA;
}

.argName {
	font-weight: bold;
}

.argValue {
	padding: 4px;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	background-color: #FCF8E3;
	border: 1px solid #FBEED5;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	width: 65px;
	text-align:center;
	display:inline-block;
}

.table th, .table td {
	vertical-align: middle;
}

.ttitle {
	background-color: #0D7DCB;
	color:#FFFFFF;
	font-size:18px;
}
